li {
  background-color: #8c8fcc;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 0 10px;
  color: white;
}
ul {
  width: 100%;
  padding-left: 0;
}

img {
  width: 50px;
  height: 100%;
}
.infoTeam {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

/* ul {
  width: 100%;
  padding-left: 0;
}

li {
  background-color: #8c8fcc;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
}

img {
  width: 50px;
  height: 100%;
}

.infoTeam {
  justify-content: space-between;
  align-items: center;
  width: 50%;
  display: flex;
} */
